/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%; }

body .mainIndex .intro .introIndex, body .testimonios, body .experience, body .experience .experienceInfo, body .mGallery .customers .G1, body .mGallery .customers .G2, body .mGallery .customers .G3, body .mGallery .customers .G4, body .mGallery .customers .G5, body .mGallery .customers .G6, body .mGallery .customers .G7, body .mGallery .customers .G8 {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

body .testimonios .tUno img, body .testimonios .tDos img, body .testimonios .tTres img, body .testimonios .tCuatro img, body .experience .experienceInfo img, body .mGallery .gallery .galleryIntro img, body .mGallery .customers .G1 img, body .mGallery .customers .G2 img, body .mGallery .customers .G3 img, body .mGallery .customers .G4 img, body .mGallery .customers .G5 img, body .mGallery .customers .G6 img, body .mGallery .customers .G7 img, body .mGallery .customers .G8 img {
  height: auto;
  width: 100%; }

body {
  font-family: "Lato", sans-serif; }
  body .menu {
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.45);
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: white; }
    body .menu nav div .logo {
      font-family: "Dancing Script", cursive; }
      body .menu nav div .logo h1 {
        margin: 0rem 1rem; }
      body .menu nav div .logo span {
        background-image: url(../img/imgLogos/Logo.jpg);
        background-size: contain;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; }
  body .mainIndex .intro {
    background-image: url(../img/imgIndex/IntroIndex.png);
    background-size: cover;
    background-position: 0% 50%;
    height: 490px;
    display: flex; }
    body .mainIndex .intro .introIndex {
      flex-direction: column;
      margin-top: 5rem;
      margin-left: 8rem;
      text-align: center; }
      body .mainIndex .intro .introIndex h2 {
        margin-top: 1rem;
        font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
      body .mainIndex .intro .introIndex p {
        margin-top: 1rem;
        max-width: 25ch;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
      body .mainIndex .intro .introIndex a {
        background-color: #fcb3b3;
        color: white;
        border-radius: 50px;
        padding: 0.5rem 2rem;
        text-decoration: none;
        margin-top: 0.5rem;
        display: inline-block;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
        body .mainIndex .intro .introIndex a:hover {
          background-color: #fd9494; }
  body .testimonios {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center; }
    body .testimonios .testimoniosTitulo {
      text-align: center; }
      body .testimonios .testimoniosTitulo h3 {
        margin-top: 1rem;
        font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
      body .testimonios .testimoniosTitulo p {
        margin-top: 1rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
        margin-bottom: 2rem; }
    body .testimonios .testimoniosFotos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 100%;
      grid-template-areas: "tUno tDos tTres tCuatro";
      gap: 7vw; }
    body .testimonios .tUno {
      grid-area: tUno; }
      body .testimonios .tUno p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tDos {
      grid-area: tDos; }
      body .testimonios .tDos p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tTres {
      grid-area: tTres; }
      body .testimonios .tTres p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tCuatro {
      grid-area: tCuatro; }
      body .testimonios .tCuatro p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios a {
      background-color: #fcb3b3;
      color: white;
      border-radius: 50px;
      padding: 0.5rem 2rem;
      text-decoration: none;
      margin: 3rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
      body .testimonios a:hover {
        background-color: #fd9494; }
  body .experience {
    flex-direction: column; }
    body .experience h2 {
      margin: calc(min(2vw, 2.5rem));
      font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
    body .experience .experienceInfo div .experienceSubtitulo {
      font-family: "Dancing Script", cursive;
      font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem);
      text-align: center;
      margin-bottom: calc(min(2vh, 1rem)); }
    body .experience .experienceInfo div .experienceParrafo {
      text-align: center;
      max-width: 256px;
      margin-bottom: calc(min(2vh, 1rem));
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .experience .experienceInfo img {
      min-width: 100px;
      margin: calc(min(5vh, 2.5rem));
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }
    body .experience h3 {
      margin: 3rem 0rem 1.5rem;
      font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem);
      text-align: center; }
    body .experience a {
      background-color: #fcb3b3;
      color: white;
      border-radius: 50px;
      padding: 0.5rem 2rem;
      text-decoration: none;
      margin-bottom: 3rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
      body .experience a:hover {
        background-color: #fd9494; }
  body .mGallery .gallery h2 {
    text-align: center;
    font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem);
    margin: calc(min(2vw, 2.5rem)); }
  body .mGallery .gallery .galleryIntro {
    background-image: url(../img/imgGallery/galleryIntro.png);
    background-size: cover;
    background-position: 0% 40%;
    height: 490px;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "txtUno txtDos" "txtTres txtCuatro";
    justify-items: center;
    align-items: center;
    column-gap: 3vw; }
    body .mGallery .gallery .galleryIntro .txtUno {
      text-align: center;
      max-width: 15rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
      grid-area: txtUno; }
    body .mGallery .gallery .galleryIntro .txtDos {
      text-align: center;
      max-width: 15rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
      grid-area: txtDos; }
    body .mGallery .gallery .galleryIntro .txtTres {
      text-align: center;
      max-width: 15rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
      grid-area: txtTres; }
    body .mGallery .gallery .galleryIntro .txtCuatro {
      text-align: center;
      max-width: 15rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
      grid-area: txtCuatro; }
    body .mGallery .gallery .galleryIntro img {
      display: none;
      min-width: 125px;
      max-width: 225px;
      max-height: 320px; }
  body .mGallery .customers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr;
    grid-template-areas: "tGallery tGallery tGallery tGallery" "G1 G2 G3 G4" "G5 G6 G7 G8";
    gap: 2rem; }
    body .mGallery .customers .tGallery {
      grid-area: tGallery;
      text-align: center;
      font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
    body .mGallery .customers .G1 {
      flex-direction: column;
      grid-area: G1; }
      body .mGallery .customers .G1 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G1 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G2 {
      flex-direction: column;
      grid-area: G2; }
      body .mGallery .customers .G2 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G2 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G3 {
      flex-direction: column;
      grid-area: G3; }
      body .mGallery .customers .G3 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G3 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G4 {
      flex-direction: column;
      grid-area: G4; }
      body .mGallery .customers .G4 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G4 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G5 {
      flex-direction: column;
      grid-area: G5; }
      body .mGallery .customers .G5 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G5 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G6 {
      flex-direction: column;
      grid-area: G6; }
      body .mGallery .customers .G6 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G6 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G7 {
      flex-direction: column;
      grid-area: G7; }
      body .mGallery .customers .G7 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G7 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .mGallery .customers .G8 {
      flex-direction: column;
      grid-area: G8; }
      body .mGallery .customers .G8 img {
        max-height: 300px;
        max-width: 200px; }
      body .mGallery .customers .G8 p {
        text-align: center;
        max-width: 12.5rem;
        margin: 0.5rem 0rem 3rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
  body footer .footer-dos {
    background-color: rgba(0, 0, 0, 0.2); }
