/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%; }

body .mainIndex .intro .introIndex, body .testimonios {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

body {
  font-family: "Lato", sans-serif; }
  body .menu {
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.45);
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: white; }
    body .menu nav div .logo {
      font-family: "Dancing Script", cursive; }
      body .menu nav div .logo h1 {
        margin: 0rem 1rem; }
      body .menu nav div .logo span {
        background-image: url(../img/imgLogos/Logo.jpg);
        background-size: contain;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; }
  body .mainIndex .intro {
    background-image: url(../img/imgIndex/IntroIndex.png);
    background-size: cover;
    background-position: 0% 50%;
    height: 490px;
    display: flex; }
    body .mainIndex .intro .introIndex {
      flex-direction: column;
      margin-top: 5rem;
      margin-left: 8rem;
      text-align: center; }
      body .mainIndex .intro .introIndex h2 {
        margin-top: 1rem;
        font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
      body .mainIndex .intro .introIndex p {
        margin-top: 1rem;
        max-width: 25ch;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
      body .mainIndex .intro .introIndex a {
        background-color: #fcb3b3;
        color: white;
        border-radius: 50px;
        padding: 0.5rem 2rem;
        text-decoration: none;
        margin-top: 0.5rem;
        display: inline-block;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
        body .mainIndex .intro .introIndex a:hover {
          background-color: #fd9494; }
  body .testimonios {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center; }
    body .testimonios .testimoniosTitulo {
      text-align: center; }
      body .testimonios .testimoniosTitulo h3 {
        margin-top: 1rem;
        font-size: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem); }
      body .testimonios .testimoniosTitulo p {
        margin-top: 1rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
        margin-bottom: 2rem; }
    body .testimonios .testimoniosFotos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 100%;
      grid-template-areas: "tUno tDos tTres tCuatro";
      gap: 7vw; }
    body .testimonios .tUno {
      grid-area: tUno; }
      body .testimonios .tUno img {
        height: auto;
        width: 100%; }
      body .testimonios .tUno p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tDos {
      grid-area: tDos; }
      body .testimonios .tDos img {
        height: auto;
        width: 100%; }
      body .testimonios .tDos p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tTres {
      grid-area: tTres; }
      body .testimonios .tTres img {
        height: auto;
        width: 100%; }
      body .testimonios .tTres p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios .tCuatro {
      grid-area: tCuatro; }
      body .testimonios .tCuatro img {
        height: auto;
        width: 100%; }
      body .testimonios .tCuatro p {
        max-width: 250px;
        text-align: center;
        margin-top: 0.5rem;
        font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
    body .testimonios a {
      background-color: #fcb3b3;
      color: white;
      border-radius: 50px;
      padding: 0.5rem 2rem;
      text-decoration: none;
      margin: 3rem;
      font-size: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem); }
      body .testimonios a:hover {
        background-color: #fd9494; }
  body footer .footer-dos {
    background-color: rgba(0, 0, 0, 0.2); }
