/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
// Sub-archivos SASS
@import "./base/variables";
@import "./base/mixin";
@import "./base/extend";

body{
    font-family: $textos;
    .menu{
        border-bottom: 1.5px solid rgba(128, 128, 128, 0.45);
        top: 0;
        position: sticky;
        z-index: 1;
        background-color: white;
        nav{
            div{
                .logo{
                    font-family: $textos-especiales;
                    h1{
                        margin: 0rem 1rem;
                    }
                    span{
                        background-image: url(../img/imgLogos/Logo.jpg);
                        background-size: contain;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }
    .mainIndex{
        .intro{
            background-image: url(../img/imgIndex/IntroIndex.png);
            background-size: cover;
            background-position: 0% 50%;
            height: 490px;
            display: flex;
            .introIndex{
                @extend %flex;
                flex-direction: column;
                margin-top: 5rem;
                margin-left: 8rem;
                text-align: center;
                h2{
                    margin-top: 1rem;
                    font-size: $principales;
                }
                p{
                    margin-top: 1rem;
                    max-width: 25ch;
                    font-size: $secundarios;
                }
                a{
                    @include botton;
                    margin-top: 0.5rem;
                    display: inline-block;
                    font-size: $secundarios;
                    &:hover{
                        background-color: $hover-botton;
                    }
                }
            }
        }
    }
    .testimonios{
        margin-top: 2rem;
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        .testimoniosTitulo{
            text-align: center;
            h3{
                margin-top: 1rem;
                font-size: $principales;
            }
            p{
                margin-top: 1rem;
                font-size: $secundarios;
                margin-bottom: 2rem;
            }
        }
        .testimoniosFotos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 100%;
            grid-template-areas:
            "tUno tDos tTres tCuatro"
            ;
            gap: 7vw;
        }
        .tUno{
            grid-area: tUno;
            img{
                @extend %img;
            }
            p{
                @include parrafo-testimonio;
            }
        }
        .tDos{
            grid-area: tDos;
            img{
                @extend %img;
            }
            p{
                @include parrafo-testimonio;
            }
        }
        .tTres{
            grid-area: tTres;
            img{
                @extend %img;
            }
            p{
                @include parrafo-testimonio;
            }
        }
        .tCuatro{
            grid-area: tCuatro;
            img{
                @extend %img;
            }
            p{
                @include parrafo-testimonio;
            }
        }
        a{
            @include botton;
            margin: 3rem;
            font-size: $secundarios;
            &:hover{
                background-color: $hover-botton;
            }
        }
    }
    .experience{
        @extend %flex;
        flex-direction: column;
        h2{
            margin: calc(min(2vw, 2.5rem));
            font-size: $principales;
        }
        .experienceInfo{
            @extend %flex;
            div{
                .experienceSubtitulo{
                    font-family: $textos-especiales;
                    font-size: $principales;
                    text-align: center;
                    margin-bottom: calc(min(2vh, 1rem));
                }
                .experienceParrafo{
                    text-align: center;
                    max-width: 256px;
                    margin-bottom:calc(min(2vh, 1rem));
                    font-size: $secundarios;
                }
            }
            img{
                @extend %img;
                min-width: 100px;
                margin: calc(min(5vh, 2.5rem));
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            }
        }
        h3{
            margin: 3rem 0rem 1.5rem;
            font-size: $principales;
            text-align: center;
        }
        a{
            @include botton;
            margin-bottom: 3rem;
            font-size: $secundarios;
            &:hover{
                background-color: $hover-botton;
            }
        }
    }
    .mGallery{
        .gallery{
            h2{
                text-align: center;
                font-size: $principales;
                margin: calc(min(2vw, 2.5rem));
            }
            .galleryIntro{
                background-image: url(../img/imgGallery/galleryIntro.png);
                background-size: cover;
                background-position:0% 40%;
                height: 490px;
                margin-bottom: 3rem;
                display: grid;
                grid-template-columns:1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas:
                "txtUno txtDos"
                "txtTres txtCuatro"
                ;
                justify-items: center;
                align-items: center;
                column-gap: 3vw;
                .txtUno{
                    @include txt-gallery;
                    grid-area: txtUno;
                }
                .txtDos{
                    @include txt-gallery;
                    grid-area: txtDos;
                }
                .txtTres{
                    @include txt-gallery;
                    grid-area: txtTres;
                }
                .txtCuatro{
                    @include txt-gallery;
                    grid-area: txtCuatro;
                }
                img{
                    @extend %img;
                    display: none;
                    min-width: 125px;
                    max-width: 225px;
                    max-height: 320px;
                }
            }
        }
        .customers{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 4rem 1fr 1fr;
            grid-template-areas:
            "tGallery tGallery tGallery tGallery"
            "G1 G2 G3 G4"
            "G5 G6 G7 G8"
            ;
            gap: 2rem;
            .tGallery{
                grid-area: tGallery;
                text-align: center;
                font-size: $principales;
            }
            .G1{
                @extend %flex;
                flex-direction: column;
                grid-area: G1;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G2{
                @extend %flex;
                flex-direction: column;
                grid-area: G2;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G3{
                @extend %flex;
                flex-direction: column;
                grid-area: G3;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G4{
                @extend %flex;
                flex-direction: column;
                grid-area: G4;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G5{
                @extend %flex;
                flex-direction: column;
                grid-area: G5;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G6{
                @extend %flex;
                flex-direction: column;
                grid-area: G6;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G7{
                @extend %flex;
                flex-direction: column;
                grid-area: G7;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
            .G8{
                @extend %flex;
                flex-direction: column;
                grid-area: G8;
                img{
                    @extend %img;
                    max-height: 300px;
                    max-width: 200px;
                }
                p{
                    @include txt-customers;
                }
            }
        }
    }
    footer{
        .footer-dos{
            background-color: rgba(0, 0, 0, 0.2)
        }
    }
}