//Mixins
@mixin botton {
    background-color: rgb(252, 179, 179);
    color: white;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}
@mixin parrafo-testimonio {
    max-width: 250px;
    text-align: center;
    margin-top: 0.5rem;
    font-size: $secundarios;
}
@mixin txt-gallery {
    text-align: center;
    max-width: 15rem;
    font-size: $secundarios;
}
@mixin txt-customers {
    text-align: center;
    max-width: 12.5rem;
    margin: 0.5rem 0rem 3rem;
    font-size: $secundarios;
}