// Variables
// Tipografia
$textos:'Lato', sans-serif;
$textos-especiales:'Dancing Script', cursive;
// Tamanos de textos
$principales: clamp(1.25rem, calc(0.977rem + 1.36vw), 2rem);
$secundarios: clamp(0.625rem, calc(0.489rem + 0.68vw), 1rem);
// Hover Botones
$hover-botton:rgb(253, 148, 148);